@use "../../Global/mixins";
@use "../../Global/variables";

.main {
  @include mixins.box-flex;
  background-image: variables.$imagePage;
  background-repeat: no-repeat;
  width: 100vw;
  height: 95vh;
  flex-direction: column;
  padding: 5rem 0;
  gap: 3rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 3;

    button {
      @include mixins.box-flex;
      width: 3rem;
      height: 3rem;
      background-color: transparent;
      border: unset;
      font-size: 30px;
      padding-top: 5px;
      color: white;
      cursor: pointer;
    }

    .buttonSelect {
      background-color: variables.$primary-color;
      color: white;
      border-radius: 50%;
    }

    button:hover {
      font-size: 50px;
      transition: 0.3s;
    }
  }
}

.icon {
  polyline {
    stroke: white;
  }
}
