@use '../../Global/mixins';
@use '../../Global/variables';
 
.section{
  @include mixins.box-flex;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  background-color: variables.$background-transparent;
}

.div{
  width: 50%;
  height: 50%;

  background-image: variables.$imageModal;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 1rem;


  @include mixins.box-flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  gap: 2rem;


  color: white;


  button{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    padding: 0;
    height: 35px;

    background-color: transparent;
    border: unset;
    color: white;
  }

  h2{
    font-size: 40px;
    margin-top: 3rem;
    
  }

  div{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}


